<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller_name %>-<%= action_name %>">
    <nav class="container" style="position: relative">
      <ul>
        <li><a href="/movies"><i class="fa-solid fa-magnifying-glass" style='color: #ffffff'></i> Explore</a></li>
        <li><a href="/lists"><i class='fa-regular fa-heart' style='color: #ffffff'></i> Wishlists</a></li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
